    .profile1 {
        border: 2px solid #eaeaea;
        border-radius: 5px;
        padding: 20px;
    }
    .profile12{
        border: 2px solid #eaeaea;
        border-radius: 5px;
        padding: 20px
    }
